@import "tailwindcss";

@theme {
  --color-brand-purple: #6366f1;
  --color-brand-dark: #0f172a;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0f172a; /* Slate 900 */
  color: #f8fafc; /* Slate 50 */
}
